!
ip vrf tenant1
!
ip virtual-router mac-address 00:00:00:11:22:01
!
ip name-server 10.204.0.151 10.204.0.152
!
virtual-network 1
!
virtual-network 3
!
interface vlan 101
 virtual-network 1
 mtu 9216
!
interface vlan 4000
 mtu 9216

interface vlan 301
 virtual-network 3
!
nve
 source-interface loopback 1
!
interface virtual-network 1
 no shutdown
 description "vlan:101_extended_to_switches:"
 ip vrf forwarding tenant1
 ip address 172.16.0.4/24
 ip virtual-router address 172.16.0.254
 exit
!
interface virtual-network 3
 no shutdown
 description "vlan:301_extended_to_switches:fabric-LEAF-5_fabric-LEAF-6"
 ip vrf forwarding tenant1
 ip address 172.16.3.4/24
 ip virtual-router address 172.16.3.254
 exit
!
vlt-domain 127
 backup destination 10.204.11.213
 discovery-interface ethernet1/1/9
 peer-routing
 vlt-mac 00:00:00:00:00:34
!
evpn
 router-mac 00:00:00:03:04:01
 !
 evi 1
  vni 101
  rd auto
  route-target 101:1 both
 !
 evi 3
  vni 301
  rd auto
  route-target 301:1 both
 !
 vrf tenant1
  vni 3000
  route-target 65535:30000 both
  advertise ipv4 connected
!
virtual-network 1
 description vlan:101_extended_to_switches:
 !
 vxlan-vni 101
!
virtual-network 3
 description vlan:301_extended_to_switches:fabric-LEAF-5_fabric-LEAF-6
 !
 vxlan-vni 301
!

